<h1>So, you want to work at a hair salon?</h1>

<p>
  Fill out our short questionare and we'll let you know if you've got what it takes!
</p>

<form action="/success" method="post">
  <div class="form-group">
    <label for="name">Question 1: What is your name?</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/">Go Home</a>
