<h1>$client.getName()</h1>

<h3>Currently being styled by $stylist.getName()</h3>

<a href="/$stylist.getId()/clients/$client.getId()/updateName" class="btn btn-default">Change your name</a>
<a href="/$stylist.getId()/clients/$client.getId()/updateStylist" class="btn btn-info">See a different stylist</a>
<a href="/$stylist.getId()/clients/$client.getId()/delete" class="btn btn-primary">See a different hair salon</a>
<br>
<a href="/$stylist.getId()">Go Back</a>
