<h1>Update your information</h1>

<form action="/$stylist.getId()/updated" method="post">
  <div class="form-group">
    <label for="updatedName">What is your new name?</label>
    <input type="text" name="updatedName" id="updatedName" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/$stylist.getId()">Go Back</a>
